# Entornos virtuales (el tuyo y otros comunes)
entorno_bici/
venv/
.venv/
env/
.env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de configuración del editor/IDE
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db